/*** body ****/
.aui body {
	font-family: 'Raleway', sans-serif;
}

.aui .light {
	background: none repeat scroll 0 0 #FFFFFF;
}

.aui a {
	font-family: 'Raleway', sans-serif;
	font-weight: inherit;
}

p {
	word-break: normal;
}

.controls-hidden .portlet-title,.signed-out .portlet-title {
	display: none;
}

.aui body #wrapper {
	padding-top: 0px;
} 

/**** navigation ****/
#navigation {
	margin-top: 0px;;
	font-size: 15px;
}

.aui #navigation .nav>li {
	margin: 0px;
}

.aui #navigation .nav>li>a {
	padding: 4px 8px 5px;
}

.aui #navigation .navbar-inner {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.main-menu {
	margin-top: 30px;
}

#wrapper .language-selector {
	float: right;	
}

.aui .navbar b.icon-caret-down {
	margin-left: 0px;
}

/*** logo ****/
.logo {
	background-image: url(@theme_image_path@/cardiodiagnosis/logo.png);
	background-repeat: no-repeat;
	background-size: 212px auto;
	display: inline-block;
	height: 97px;
	position: static;
	width: 198px;
}

.dark .logo {
	background-image: url(@theme_image_path@/cardiodiagnosis/logo.png);
}

/**** dockbar *****/

.aui .dockbar-split .dockbar .navbar-inner .nav > li.sign-in  {
	background-color: transparent;
	background-image: none;
}

.aui .dockbar-split .dockbar .navbar-inner .nav > li.sign-in > a {
	color: #53585F;	
}

.aui .dockbar-split .dockbar .navbar-inner .nav > li > a {
	font-size: smaller;
	line-height: 10px;
}

.aui .dockbar-split.signed-in .dockbar .navbar-inner .nav-account-controls  {
	left: 40%;
	right: auto;
}

.aui .dockbar-split .dockbar .navbar-inner ul.nav-account-controls  {
	left: 5% !important;
	right: auto !important;
}

.aui .dockbar-split.signed-in .dockbar .navbar-inner .user-avatar  img.user-avatar-image {
	width: 14px;
}

/*** home ****/
.aui .carousel-home .portlet-borderless-container {
	background: none;
}

.aui .carousel-home .portlet-borderless-container menu {
	display: none;
}

.home-bottom-link {
	border-radius: 10px;
	padding-top: 10px;
	background-color: #F6F6F6;
	padding: 10px;
	
}

#column-2 .home-bottom-link, #column-3 .home-bottom-link, #column-4 .home-bottom-link {
	height: 410px;
}

#column-2 .home-bottom-link, #column-3 .home-bottom-link, #column-4 .home-bottom-link {	
	height: 410px;
}

.home-bottom-link:hover {
	border-color: rgba(68, 68, 68, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(68, 68, 68, 0.6);
	outline: 0 none;
	cursor: pointer;
}

/*** journal articles ***/
.journal-content-article p {
	word-break: keep-all; /* prohibit trencar paraules entre dues lletras*/
}

/** llistat cursos ***/
ul.subject-list {
	display: inline-block;
}

ul.subject-list li {
	float: left;
	height: 2em;
}

ul.subject-list li a {
	width: 18em;
	display: block;
}

/*** footer ****/
#contenidor-wrapper-footer {
	background-color: #555555;
	color: #FFFFFF;
}

.aui #footer {
	min-height: 200px;
	text-align: right;
	padding-top: 20px;
}

.aui #footer ul {
	list-style: none;
}

.aui #footer ul li {
	text-align: left;
	display: inline-block;
	margin-right: 10px;
	background-position: 1px center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-left: 25px;
} 

.aui #footer ul li#rss-icon {
	background-image: url(@theme_image_path@/cardiodiagnosis/rss_icon.png);
	background-repeat: no-repeat;	
}

.aui #footer ul li#twitter-icon {
	background-image: url(@theme_image_path@/cardiodiagnosis/twitter.png);
	background-repeat: no-repeat;
}

.aui #footer ul li#contact-icon {
	background-image: url(@theme_image_path@/cardiodiagnosis/contact.png);
	background-repeat: no-repeat;
}

.aui #footer ul li a {	
	color: white;
}

/** perfils doctors ***/
ul.perfils-doctors>li:nth-child(even) {
	background-color: #F6F6F6;
}

ul.perfils-doctors>li {
	list-style: none;
}

.perfil-doctor {
	padding: 10px;
}

.perfil-doctor h3 {
	margin-top: 0px;
}

.perfil-doctor .imatge-perfil img {
	max-width: 150px;
}

/** llistat d'articles **/
ul.llistat-articles {
	margin-left: 0px;
}

ul.llistat-articles>li {
	list-style: none;
}

ul.llistat-articles>li:nth-child(even) {
	background-color: #F6F6F6;
}

ul.llistat-articles .article {
	padding: 10px;
}

.article h4 {
	margin-top: 0px;
}

.article .info {
	max-height: 110px;
	overflow: hidden;
}

.article img {
	border: 1px solid #D3D3D3;
	box-shadow: 0 0 2px #CCCCCC;
	padding: 3px;
	width: 100px;
	height: 100px;
}