/*** body ****/

/**** navigation ****/
#navigation {
	margin-top: 16px;
	font-size: 16px;
}

/*** logo ****/
.logo {
	background-image: url(@theme_image_path@/cardiodiagnosis/logo.png);
	background-repeat: no-repeat;
	background-size: 212px 71px;
	display: inline-block;
	height: 72px;
	position: static;
	width: 198px;
}

.dark .logo {
	background-image: url(@theme_image_path@/cardiodiagnosis/logo.png);
}

/*** home ****/
.aui .carousel-home .portlet-borderless-container {
	background: none;
}

.aui .carousel-home .portlet-borderless-container menu {
	display: none;
}